/***************************************
		   		PORTFOLIO
***************************************/

/*********************************
			  HEADER
*********************************/

body {
	background-color: black;
	/*background-repeat: no-repeat;*/
	background-size: 100% 100%;	
	color: #cccccc;
	padding: 10px 20px;
	font-family: arial, calibri, candara, sans-serif;
	/*overflow: hidden;*/
}

header {
	color: #d58;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-size: 0.7em;
	padding-top: 3px;
	padding-bottom: 20px;
}

div.align {
	text-align: center;
}


/*********************************
		   NAVIGATION
*********************************/

div.navigation {
	display: -webkit-flex;
	background-color: #d58;
	margin-top: 10px;
	padding: 20px;
}

ul.flex {
	width: 100%;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	color: #ffffdd;
	font-size: 0.8em;
}

a.nav {
	color: #fff;
	text-decoration: none;
}

a.nav:hover {
	color: purple;
}

li.selected {
	color: #fff;
	cursor: default;
}

/*********************************
		   	   BODY
*********************************/

div.all {
	margin: 0 auto;
}

h2.heading{
	text-align: left;
	font-size: 1.6em;
	padding-top: 20px;
	font-weight: bold;
	color: #d58;
}

p.writeup {
	padding: 10px 4px 4px 7px;  
}

.project {
	padding-left: 10px;
	padding-top: 15px;
	color: #d58;
}

li {
	font-weight: bold;
}

p a {
	color: #d58;
}

p.caption{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	line-height: 1.3em;
}

a.color {
	text-decoration: none;
	/*color: orange;*/
}

a.color:hover {
	background-color: white;
	color: black;
}

div#slide_1 {
	padding-bottom: 30px;
}

div#slide_2 {
	padding-bottom: 30px;
}


/***************************************
		   		CONTACT
***************************************/

p.project {
	font-weight: bold;
}

p.contact {
	padding-left: 17px;
	padding-top: 15px;
}

p.contact a {
	color: inherit;
	text-decoration: none;
}

p.phone a {
	display: inline-block;
	padding: 0 0 0 5px;
}

p.phone::before {
	content: url('../images/phone.jpg');
	position: relative;
	bottom: -5px;
}

p.mail a {
	display: inline-block;
	padding: 0 0 0 5px;
}

p.mail::before {
	content: url('../images/email.jpg');
	position: relative;
	bottom: -5px;
}

/*********************************
		   	  FOOTER
*********************************/

p.top {
	margin-top: 10px;
}

h2.top {
	margin-top: -35px;
}

img.logo {
	padding: 0;
	margin-bottom: -20px;
}

p.centralize {
	text-align: center;
}

p#footer {
	text-align: center;
	background-color: #d58;
	color: black;
	margin-top: 30px;
	font-size: 0.6em;
	height: 12px;
	padding-top: 5px;
}



/***************************************
		   		HIDDEN
***************************************/

img.float {
	display: none;
}