@media screen and (min-width: 400px) {

	body {
		background-image: url('../images/bgimage.jpg');
		overflow: hidden;
	}

	div.navigation {
		margin-top: -1px;
	}

	div.all {
		background-color: rgba(255, 255, 255, .7);
		max-height: 300px;
		width: 90%;
		overflow: auto;
		color: #555;
	}

	h2 {
		padding-bottom: 30px;
	}

	h1, h2 {
		text-align: left;
	}

	h2.heading {
		width: 100%;
		color: #ffffdd;
		text-align: center;
		padding-bottom: 10px;
	}

	img.pix {
		position: relative;
		float: left;
		padding-bottom: 30px;
	}

	div.image {
		margin-top: 10px;
		margin-left: 10px;
		width: 200px;
		height: 150px;
		position: relative;
	}

	div.google {
		background-image: url('../images/googleClone_1.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	div.jobseeker {
		background-image: url('../images/job_seeker_1.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	div.game {
		background-image: url('../images/hotOrCold_1.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	div.shoppinglist {
		background-image: url('../images/shopping_list_1.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	p.top {
		display: none;
	}

	p.margin {
		margin-top: -40px;
	}
}

@media screen and (min-width: 700px) {
	div.all {
		background-color: red;
	}
}