@media screen and (min-width: 400px) {

	body {
		background-image: url('../images/bgimage.jpg');
		overflow: hidden;
	}

	div.navigation {
		margin-top: -1px;
	}

	div.all {
		background-color: rgba(255, 255, 255, .7);
		max-height: 300px;
		width: 90%;
		overflow: auto;
		color: #555;
	}

	h2 {
		padding-bottom: 30px;
	}

	h1, h2 {
		text-align: left;
	}

	h2.heading {
		width: 100%;
		color: #ffffdd;
		text-align: center;
		padding-bottom: 10px;
	}

	img.pix {
		position: relative;
		float: left;
		padding-bottom: 30px;
	}
}

/*/*//**@media screen and (min-width: 450px) {

	body {
		background-color: red;
	}


	div.center {
		text-align: center;
	}

	
	p.top {
		display: block;
		padding-bottom: 10px;
	}

	div.resize {
		padding: 20px;
	}

	div.navigation {
		display: inline-block;
		width: 60%;
		margin-top: 0;
	}
	
	div#slide_1 {
		padding-bottom: 10px;
		padding-top: 20px;
	}

	div#slide_2 {
		padding-bottom: 10px;
	}

	li.project {
		padding-top: 9px;
	}

	h1 {
		font-size: 1.6em;
	}

	h2.heading {
		width: 20%;
		text-align: left;
		font-size: 1.2em;
		padding-top: 2px;
		padding-bottom: 2px;
		margin-bottom: 5px;
		font-weight: bold;
	}

	h2.first {
		margin-top: -15px;
	}

	p.writeup {
		padding-bottom: 0;
	}

	p.project {
		padding-top: 5px;
	}

	p.contact {
		padding-top: 0;
	}

	p.caption {
		padding-top: 5px;
		max-width: 500px;
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	img.float {
		display: block;
	}
}*/

@media screen and (min-width: 700px) {
	div.all {
		background-color: red;
	}
}